<div class="info-unit">
    <form class="form form--login" (ngSubmit)="login()">
        <div class="form__item">
            <label class="form__item-label" for="username">Username</label>
            <input class="form__item-field" type="text" id="username" placeholder="Username" [(ngModel)]="model.username" name="username">
        </div>
        <div class="form__item">
            <label class="form__item-label" for="pass">Password</label>
            <input class="form__item-field" type="password" id="pass" placeholder="Password" [(ngModel)]="model.password" name="password">
        </div>
        <button class="btn btn--primary" type="submit">Submit</button>
    </form>
</div>