<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-plane"></span>
                Home
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <% if (auth.success) { %>
                <ul class="nav navbar-nav">
                    <li><a href="/api/tickets">Tickets</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/api/tickets/my">My Tickets</a></li>
                    <li><a id="logoutBtn" href="#">Log Out <b>(<%= auth.user.username%>)</b> </a></li>
                </ul>
            <% } else  { %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/api/auth/login">Log In</a></li>
                    <li><a href="/api/auth/signup">Sign Up</a></li>
                </ul>
            <% } %>
        </div>
    </div>
</nav>

<script>
    (function() {
        'use strict';

        let logoutBtn = document.getElementById('logoutBtn');

        if (logoutBtn) {
            logoutBtn.addEventListener('click', (e) => {
                e.preventDefault();

                document.cookie = "accessToken=; Max-Age=0; path=/";
                window.location.pathname = '/';
                window.location.reload();
            }, false);
        }

    })();
</script>