* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #428BCA;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.block {
  &-right {
    float: right;
  }

  &-left {
    float: left;
  }
}

.text {
  &-grey {
    color: #777;
  }

  &-center {
    text-align: center;
  }
}

.info-unit {
  font-size: 20px;
  border-radius: 5px;
  background-color: #EFEFEF;
  padding: 30px 15px;
  margin-bottom: 20px;
}

.notification {
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;

  &__error {
    background-color: #FAA;
    border: 1px solid #F55;
  }

  &__success {
    background-color: #5FBF93;
    border: 1px solid #05A35E;
  }
}

.btn {
  appearance: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  font-weight: lighter;

  &--primary {
    border-color: #2C2489;
    background-color: #245C89;
    color: #FFF;
  }

  &--success {
    background-color: #5FBF93;
    border: 1px solid #05A35E;
    color: #FFF;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0;
  }

  .main,
  .footer {
    padding: 0 10px;
  }
}
