<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

    <% include ../partials/header.ejs %>

    <main class="main">
        <div class="info-unit">
            <div class="notification notification__error hidden" id="errorBlock">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span>Error:</span>
                <span class="notification__message"></span>
            </div>

            <form class="form form--login" id="signupForm">
                <div class="form__item">
                    <label class="form__item-label" for="username">Username</label>
                    <input class="form__item-field" type="text" id="username" placeholder="Username" name="username">
                </div>
                <div class="form__item">
                    <label class="form__item-label" for="pass">Password</label>
                    <input class="form__item-field" type="password" id="pass" placeholder="Password" name="password">
                </div>
                <div class="form__checkbox">
                    <label>
                        <input type="checkbox" name="admin"> Add admin rights
                    </label>
                </div>
                <button class="btn btn--primary" type="submit">Submit</button>
            </form>
        </div>
    </main>

    <% include ../partials/footer.ejs %>

    <script>
        (function() {
            'use strict';

            var form = document.getElementById('signupForm');
            var errorBlock = document.getElementById('errorBlock');

            form.addEventListener('submit', function(e) {
                e.preventDefault();

                var data = new FormData(form);
                var ajax = new XMLHttpRequest();

                ajax.onreadystatechange = function() {
                    if (ajax.readyState === 4) {
                        var response = JSON.parse(ajax.responseText);

                        if (response.success) {
                            errorBlock.style.display = 'none';
                            document.cookie = 'accessToken=' + response.token + ';path=/';
                            location.pathname = '/';
                        } else {
                            errorBlock.querySelector('.notification__message').innerText = response.message;
                            errorBlock.style.display = 'block';
                        }
                    }
                };

                ajax.open('POST', window.location.href, true);
                ajax.send(data);

            }, false);

        })();
    </script>

</body>
</html>