<div class="carousel carousel--active">
    <div class="carousel__nav">
        <button class="carousel__nav-prev" (click)="prevSlide()">
            <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i>
        </button>
        <button class="carousel__nav-next" (click)="nextSlide()">
            <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>
        </button>
    </div>
    <ul #slides class="carousel__content">
        <li *ngFor="let prefix of imgPrefixes; let i = index; trackBy: i"
            class="carousel__content-item {{index}}"
            [ngClass]="{'carousel__content-item--current': isActiveSlide(i)}"
        >
            <picture>
                <source media="(max-width: 320px)"
                        srcset="{{ imgNameBuilder(prefix, '320') }} 1x,
                                {{ imgNameBuilder(prefix, '320_retina') }} 2x">
                <source media="(max-width: 1024px)"
                        srcset="{{ imgNameBuilder(prefix, '1024') }}">
                <source srcset="{{ imgNameBuilder(prefix, '1440') }} 1x,
                                {{ imgNameBuilder(prefix, '1440_retina') }} 2x">
                <img src="{{ imgNameBuilder(prefix, '1440') }}" alt="">
            </picture>
        </li>
    </ul>
</div>