.chart-nav {
    display: flex;
    padding: 0;
    list-style: none;
    background-color: #EFEFEF;
    border: 1px solid #ccc;
    margin: 15px 0 20px;
    font-size: 18px;
    justify-content: space-between;
    text-transform: uppercase;

    &__button {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        align-items: center;
        cursor: pointer;

        &:hover,
        &--active {
             background-color: #999;
         }
     }
}