<h2 class="heading headeing__2">Statistics chart</h2>

<div *ngIf="tickets?.length" class="table-wrapper">
    <table class="table table--tickets">
        <thead class="table__head">
        <tr class="table__row table__row--head">
            <th class="table__cell table__cell--head">From City</th>
            <th class="table__cell table__cell--head">Flight Type</th>
            <th class="table__cell table__cell--head">Direct Flight</th>
            <th class="table__cell table__cell--head">Date From</th>
            <th class="table__cell table__cell--head">Date To</th>
            <th class="table__cell table__cell--head">Flights count</th>
        </tr>
        </thead>
        <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell">{{detailsData.flyFrom}}</td>
            <td class="table__cell">{{detailsData.typeFlight}}</td>
            <td class="table__cell">{{detailsData.directFlights}}</td>
            <td class="table__cell">{{detailsData.dateFrom}}</td>
            <td class="table__cell">{{detailsData.dateTo}}</td>
            <td class="table__cell">{{detailsData.flightsCount}}</td>
        </tr>
        </tbody>
    </table>
</div>

<ul class="chart-nav">
    <li *ngFor="let tab of tabs" (click)="setTab(tab)"
        [ngClass]="{'chart-nav__button--active': isActiveTab(tab)}" class="chart-nav__button">{{tab}}</li>
</ul>

<barchart *ngIf="barchartData && isActiveTab('Barchart')" [data]="barchartData"></barchart>
<bubblechart *ngIf="bubblechartData && isActiveTab('Bubblechart')" [data]="bubblechartData"></bubblechart>