<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header.ejs %>
</header>

<main>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-offset-4  col-md-4">
                <div class="alert alert-danger" style="display:none;" role="alert" id="errorBlock">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                </div>
                <form id="signupForm">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" class="form-control" id="pass" placeholder="Password" name="password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="admin"> Add admin rights
                        </label>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

<script>
    (() => {
        'use strict';

        let form = document.getElementById('signupForm');
        let errorBlock = document.getElementById('errorBlock');

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            let data = new FormData(form);
            let ajax = new XMLHttpRequest();

            ajax.onreadystatechange = () => {
                if (ajax.readyState === 4) {
                    let response = JSON.parse(ajax.responseText);

                    if (response.success) {
                        errorBlock.style.display = 'none';
                        document.cookie = `accessToken=${response.token};path=/`;
                        location.pathname = '/';
                    } else {
                        errorBlock.innerText = response.message;
                        errorBlock.style.display = 'block';
                    }
                }
            };

            ajax.open('POST', window.location.href, true);
            ajax.send(data);

        }, false);

    })();
</script>

</body>
</html>