.header {
  margin-bottom: 20px;
}

.navbar {
  padding: 10px;
  display: flex;
  width: 100%;
  border: 1px solid #999;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  height: 50px;
  align-items: center;
  background-color: #EFEFEF;

  &__logo {
    color: #777;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &:hover {
      color: #777;
      text-decoration: none;
    }

    &-img {

      &:before {
        font-family: 'FontAwesome';
        content: '\F072';
        font-size: 2em;
      }
    }

    &-text {
      font-size: 20px;
      margin-left: 5px;
      margin-right: 20px;
    }
  }

  &__menu {
    display: inline-flex;
    justify-content: flex-end;
    flex-grow: 1;

    &-items {
      list-style: none;
      padding: 0;
      display: flex;
      font-size: 16px;

    }

    &-item {
      margin: 0 10px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #999;

      &--active {
        background-color: #ddd;
      }
    }

    &-link {

    }
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav {
    &__btn {
      font-size: 17px;
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .navbar {
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    &__logo {
      &-img {
        &:before {
          font-size: 3em;
        }
      }
    }
    &__menu {

      &:before {
        font-family: 'FontAwesome';
        content: '\f0C9';
        font-size: 3em;
        color: #777;
      }

      &--active &-items{
        display: block;
      }

      &-items {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #F0F0F0;
        top: 34px;
        border-bottom: 1px solid #999;
        z-index: 10;
      }

      &-item {
        font-size: 22px;
        line-height: 40px;
        padding: 10px 20px;
        margin: 0;
        border-radius:0;
        border-color: #999;
        border-style: solid ;
        border-width: 1px 0 0 0 ;
      }

    }
  }
}
