<footer class="footer">
    <p class="text-left text-grey">© Copyright {{currentDate | date: 'y'}} </p>
    <div class="social-icons social-icons--footer">
        <a class="social-icons__icon" href="#"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
        <a class="social-icons__icon" href="#"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
        <a class="social-icons__icon" href="#"><i class="fa fa-2x fa-youtube-square" aria-hidden="true"></i></a>
        <a class="social-icons__icon" href="#"><i class="fa fa-2x fa-pinterest-square" aria-hidden="true"></i></a>
        <a class="social-icons__icon" href="#"><i class="fa fa-2x fa-google-plus-square" aria-hidden="true"></i></a>
    </div>
</footer>